certifi==2022.12.7
chardet==3.0.4
comtypes==1.1.6
idna==2.7
pyttsx==1.1
pywin32==223
requests==2.19.1
requests-file==1.4.3
selenium==3.14.0
six==1.11.0
tldextract==2.2.0
urllib3==1.23
xlwings==0.11.8
